asttokens
comm
debugpy
decorator
executing
importlib_metadata
iniconfig
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest_asyncio
packaging
parso
pexpect
platformdirs
pluggy
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pytest
python-dateutil
pyzmq
setuptools==75.8.0
six
stack_data
tornado
traitlets
watchdog==6.0.0
wcwidth
wheel==0.45.1
zipp
yagamil